@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*css-bg-image: Placé ici, parce que le tailwind bg-[...] ne fonctionne pas dans la classe de hero section*/
.css-bg-image{
  background-image: url("/assets/images/hero-bg-image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* l'effet parallax. */
}

/* revealCharctersOnScroll : css initial du texte */
.initial-css-for-characters-reveal-animation > div {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 50%, /* fond blanc à 50% de la largeur */
    rgb(37, 37, 37) 50% /* fond maron au reste des 50% de la largeur */
  );
  background-size: 200% 100%; /* Doubler la largeur du background */
  background-position-x: 100%; /* Déplacer la largeur du background de -100% x de la largeur de x */ 
  color: transparent; /* Rendre le texte transparent */ 
  background-clip: text; /* Utiliser la couleur du background pour afficher le texte invisible */ 
  -webkit-background-clip: text;
  /*   margin-bottom: -250px; */
  /* margin-left: 50px; */
  /* line-height: 1.2; */
  /*   outline: 6px dotted teal; */
  /* font-size: 10vw; */
}